<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forever Veggies</title>
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">

</div>


  
</head>

<body class="flex-column min-100-vh">
  <nav class="navbar">
    <ul>
       <h2>Welcome to Forever Veggie!</h2>    
    </div>
    </ul>
  </nav>

  <main>
    {{{body}}}
  </main>
  <video id="background-video" autoplay loop muted>
    <source src="/css/backgroundveg.mp4" type="video/mp4">  </video>


</body>
<script src="/js/main.js"></sct>
