<div>
  <form id="veggie-form">
    <label for="name-input">Veggie name:</label>
    <input type="text" id="name-input">
    <label for="name-input">Color:</label>
    <input type="text" id="color-input">
    <button type="submit">Submit</button>
  </form>
</div>

<div class="veggiedrop">
  <ul class="veggielist">
    
  </ul>
</div>

<script src="/js/veggieForm.js"></script>